.text {
    width: 100px;
    height: 100px;
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    font-size: 24px;
    color: white;
}

::selection {
    background: aquamarine; 
}

::-moz-selection {
    background: aquamarine;
}

body {
    background-color: #111111;
}
